*{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
:root{
    --min-color:#d9d9d9;
    --text-color:#0a7cffed;

}

body{
     font-family: "Poppins", sans-serif;
}

.container{
    padding-left: 15px;
    padding-right: 15px;
    margin-right: auto;
    margin-left: auto;

}
@media ( min-width:767px){
.container{
    width: 750px;
    
}
}
@media ( min-width:992px){
.container{
    width: 970px;
    
}
}
@media( min-width:1200px){
.container{
    width: 1170px;
}
}

/*start header*/

header{
    background-color:#d9d9d9 ;
    width: 100%;

}
header .container{
display: flex;
justify-content: space-between;
align-items: center;
}
header h1{
font-size: 32px;
font-weight: bold;
color: var(--text-color);

}
header h1:hover{
    color: #333;
}

header h1 span i{
color: var(--text-color);
}

header ul{
display: flex;
justify-content: center;
align-items: center;
}
header ul li {
padding: 0 15px;
list-style: none;
}
header ul li a{
    text-decoration: none;
    color: var(--text-color);
    padding: 5px 10px;
    transition: 0.6s;
    border-radius: 10px;
}
header ul li a:hover{
color: #d9d9d9;
    background-color: var(--text-color);
}
@media(max-width:767px){
    header ul li a{
        display: none;
        
    }
    header h1{
        padding-left: 10px;
    }
    
header button{
    padding-right: 10px;
}
    
}
header span{
color: var(--text-color);

}

/*end header*/
/*start home*/

.home{
    background-image: linear-gradient( #d9d9d9, blue);
    background-size: cover;
height: 100vh;

}
.home .container{
    display: flex;
    justify-content:space-between ;
    align-items: center;
    gap: 20px;
    padding-top: 40px;
}
.home .container .text{
    display: flex;
    flex-direction: column;
    
}
.home .container .text h1{
font-weight:700;
color: #fff;
margin: 15px;
letter-spacing: 2;
font-size: 35px;
text-transform: uppercase;
}
.home .container .text h1 span{
    color: var(--text-color);
    font-weight: bold;
letter-spacing: 3;
font-size: 40px;
}
.home .container .text p{
font-size: 18px;
font-weight: 500;
color: #fff;
max-width: 65%;


}
.home .container .text .btn{
display: flex;
justify-content: start;
gap: 20px;
align-items: center;

}
.home .container .text .btn button{

padding: 10px 14px;
border: 2px solid #fff;
border-radius: 50px;
width: 200px;
height: 50px;
margin-top: 15px;
font-size: 16px;
font-weight:bold ;
text-transform: uppercase;
}

.home .container .text .btn .blue{
color: #d9d9d9;
background-color: var(--text-color);

}
.home .container .text .btn .red{
color: var(--text-color);
background-color:#d9d9d9 ;
    border: 2px solid var(--text-color);

}
.home .container .text .btn .blue:hover{
    background-color: #d9d9d9;
    color: var(--text-color);
    border: 2px solid var(--text-color);
}
.home .container .text .btn .red:hover{
    background-color: var(--text-color);
    color: #d9d9d9;
    border: 2px solid #d9d9d9;
}



.home .container .text ul{
    display: flex;
    gap: 5px;
    color: gold;
    align-items: center;
    list-style: none;
    padding-top: 20px;
}



.home .container .text h4{
color: #fff;
text-transform: uppercase;
font-weight: 700;
}

.home .container .text h4 span{
    color: var(--text-color);
    font-weight: bold;
}


.container img{
    
    background-color: none;
    margin-top: 30px;
}

















/*end home*/

